block content
    .page-content
        #forum-output.column.left
            .scroll-wrapper.wrapper
                #content-column ( No Categories )
        #user-input.column.right
            #subject-wrapper.transparent.wrapper
                h4 Subject
                div(id='subject', contenteditable='true')
                br
            h4#description Description
            .description-container
                .scroll-wrapper.wrapper
                    div(id='body', contenteditable='true')
            .transparent
                input(id='user-submit', type='button', value='Save')
                input(id='preview-html' type='button' value='Preview')
        script(src='js/app.js')