append content
	#chat-bar.flex-none.flex-parent.column.hidden
		hr
		#open-chat-stubs.flex-none.column-item.flex-parent.row.layout-row
		#chat-window.flex-parent.column.hidden
			ul.flex-none.column-item.header
				li.owner.left
				li.close.right
				li.minimize.right
			.flex-fill.column-item.scroll-parent
				.scroll-wrapper.flex-parent.column
					#user-chat.scroll-content.flex-fill
		#chat-dialogs.hidden