append content
	.flex-fill.flex-parent.row.column-item.layout-row
		.flex-spaced.row-item.flex-parent.column
			.flex-fill.scroll-parent.inset
				// #content-column.scroll-wrapper
				.scroll-wrapper
					#forum-content.flex-parent.column
						#article-stubs.flex-none.flex-parent.column
						#article-view.flex-none.flex-parent.column.hidden
						#return.flex-none.flex-parent.row.layout-row.hidden
							h6.the-category.link.flex-shared.center Return to Category
							h6.all-categories.link.flex-shared.center Return to All Categories
					#forum-more.flex-parent.column.layout-column.hidden
						br
						.flex-none.flex-parent.row.layout-row.flex-center
							span.link.row-item More
							#forum-loading.loading.row-item.hidden
		.flex-spaced.row-item.flex-parent.column
			#forum-input.flex-fill.flex-parent.column
				#user-post.flex-fill.flex-parent.column.column-item
					h3#input-heading.column-item.center New Category
					h5#input-title.column-item.hidden
					#title-section.column-item.flex-parent.column
						h5.column-item Title
						textarea(id='user-title', rows='1', wrap='off')
						br
						h5#content-heading Description
					.column-item.flex-fill.flex-parent.column
						textarea#user-body.flex-fill
				#user-preview.flex-fill.flex-parent.column.column-item.hidden
					h3.column-item.center Preview Content
					// #preview-parent.column-item.flex-fill.scroll-parent
					.column-item.flex-fill.scroll-parent
						.scroll-wrapper.flex-none.flex-parent.column
							#preview-content.scroll-content.flex-fill
							.flex-none.flex-parent.row.layout-row.flex-center
								#preview-loading.loading.row-item.hidden
				.column-item
					input(id='preview' class='left', type='button' value='Preview')
					input(id='submit', class='right', type='button', value='Submit')
	#user-message-box.flex-none.flex-parent.column.column-item
		#user-message.flex-none.column-item.layout-row
		#user-chat-bar.flex-none.flex-parent.row.column-item.flex-wrap
	#menu
		.menu-content-wrapper
			#menu-content.menu-content.hidden
				br
				#show-messages.menu-item
					.check.checked
					.menu-item-content Show Messages
				br
				hr
				#log-out.menu-item
					.menu-item-content Log Out
			#toggle-menu.menu
	#user-chat.flex-parent.column.hidden
		.flex-none
			.minimize.right
			h5#user-chat-room
			h3#user-chat-title
			h6#user-chat-owner
		.flex-fill.flex-parent.row.column-item.layout-row.client
			.flex-spaced.row-item.flex-parent.column
				.flex-fill.scroll-parent
					.scroll-wrapper.flex-parent.column
						#user-chat-content.flex-none
			.flex-spaced.row-item.flex-parent.column
				textarea(id='user-chat-input', class='column-item flex-fill', placeholder='Say something!')
				.column-item.flex-none
					input(id='user-chat-submit', class='right', type='button', value='Submit')
	#user-chat-new.flex-parent.column.layout-column.hidden
		h3#user-chat-with
		h5#user-chat-topic.flex-none.column-item Title
		textarea(id='user-chat-new-title', rows='1', wrap='off', placeholder='Organize your conversations with a topic')
		.column-item
			input(id='create-chat', class='right', type='button', value='Create Chat')