append templates
	template#template-about
		.owner.link.flex-fill.row-item
		.edited.flex-none.row-item.hidden
		.created.flex-none.row-item
	
	template#template-article
		.article.flex-none.column-item.flex-parent.column
			.title.flex-none.column-item
			.body.flex-none.column-item
			.about.flex-none.column-item.flex-parent.row
			.comments.flex-none.column-item.flex-parent.column
				.flex-none.flex-parent.row
					h6.show-comments.flex-none.link Show Comments
					.flex-fill.flex-center.flex-parent.row
						h6.show-topics.flex-none.link Go to Topics
					h6.return.flex-none.link Return to Categories
				.replies.flex-none.column-item.flex-parent.column.hidden
				.flex-right.flex-parent.row.hidden
					.more-comments.flex-fill.flex-center.flex-parent.row.hidden
						span.link More Comments
						.loading.hidden
					.reply.flex-none.link Reply to Category
			// .topics.flex-none.column-item.flex-parent.column
			// 	h6.show-topics.link Hide Topics for This Category
			// 	.topic-stubs.flex-none.column-item.flex-parent.column
			// 	.flex-right.flex-parent.row
			// 		.flex-fill.flex-center.flex-parent.row
			// 			span.link More Topics
			// 			.loading.hidden
			// 		.new-topic.flex-none.link New Topic
	
	template#template-stub
		.stub.flex-none.column-item.flex-parent.column
			.title.link.flex-none.column-item
			.about.flex-none.column-item.flex-parent.row
	
	template#template-reply
		.reply.flex-none.flex-parent.column
			// .about.flex-none-column-item.flex-parent.row
			.body.flex-none.column-item
	
	template#template-chat-min
		.chat-min.flex-none.row-item.flex-parent.row
			span.link.room
			div(class='close', data-title='close chat session')