append templates
	template#template-about
		.about
			.owner
			.created
			.edit
			.updated
		.more.hidden
	
	template#template-article
		.article
			.title
			.body
			.about
			.replies
	
	template#template-reply
		.reply
			.body
			.about
	
	template#template-chat-min
		.chat-min.flex-none.flex-parent.row.row-item
			span.link.room
			div(class='close', data-title='close chat session')