extends partials/layout

append page-nav
	include partials/page-nav

append content
	include partials/forum
	include partials/chat-bar

append templates
	include partials/templates

append app-scripts
	script
		include scripts/template-poly.js
	script
		include scripts/forum.js